In [3]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**13. Change the age in row 'f' to 1.5.**

In [8]:
df =pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],'Visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  Visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.**

In [9]:
df.sort_values(by=['age', 'Visits'], ascending=[False, True])

  animal  age  Visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes