In [2]:
# import the needed libraries and datasets
import pandas as pd

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.026690 -0.058569  0.085259
1 -0.197145  0.028435  0.168710
2  0.231380 -0.349512  0.118133
3  0.134506 -0.023032 -0.111474
4  0.334217 -0.131012 -0.203204

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [13]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum().idxmin()

'c'